:root {
  --brand-color: #8b5cf6;
  --dark-color: #202c39;
  --mid-color: #283845;
  --light-color: #ffffff;
  --grey-color: #e6e6e6;
  --logo-color: #ffdd00;
  --text-font: "Overpass", sans-serif;
  --header-font: "Varela Round", sans-serif;
  --title-font: "Overlock", cursive;
  --logo-font: "Satisfy", cursive;

  background-color: var(--light-color);
}

body {
  margin: 0;
  font-family: var(--text-font);
  color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 15px;
  background-color: var(--grey-color);
}

pre code {
  background-color: transparent;
}

h1 {
  font-family: var(--title-font);
  font-size: 250%;
}

h2 {
  font-family: var(--header-font);
  font-size: 200%;
}

h3 {
  font-family: var(--header-font);
  font-size: 150%;
}

p {
  font-size: large;
}

blockquote {
  background: #fbf8cc;
  border-radius: 5px;
}

.section-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--grey-color);
  padding: 5px 0px;
}

.cursive {
  font-family: "Patrick Hand", cursive;
}

.loading {
  color: var(--dark-color);
}

.small-text {
  font-size: smaller;
}

.right-align-text {
  text-align: right;
}

.centered-div {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 150px;
  height: 150px;
  text-align: center;
  padding: 20px;
}

button {
  height: 50px;
  padding: 10px;
  margin: 15px;
  font-family: var(--text-font);
  color: var(--light-color);
  background-color: var(--mid-color);
  border-radius: 20px;
  border-width: 0px;
  transition: 0.5s ease;
}

button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 0.5s ease;
  cursor: pointer;
}

button:active {
  background-color: var(--dark-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--brand-color);
}
